
body {
    background-color: #c2daf1; 
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.content-box {
    background-color: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}


img, iframe, .tableauPlaceholder {
    display: block;
    margin: 20px auto; 
    max-width: 100%;
}


h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: #2c3e50;
    text-align: center; 
}

p, li, a {
    font-family: 'Arial', sans-serif;
    color: #34495e;
}